@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,greek-ext,greek,latin-ext);

/* --base--------------------------- */
.body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    border-bottom: solid 1px  royalblue;
    margin-bottom: 7px;
}
.footer{
    margin-top: 7px;
    padding-top: 7px;
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 80px;
    border-top: solid 1px royalblue;
}
h1 {
    margin-bottom: 0px;
    font-family: "Segoe UI Light", 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: whitesmoke;
    background-color: gray;
}
h2{
    margin-left: 7px;
    font-family: "Segoe UI Light", 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: royalblue;
    border-bottom: solid 1px gray;
}
h4{
    margin-top: 3px;
    font-family: "Roboto";
    font-weight: 400;
    color: gray;
}

/* --conteudo----------------------- */
.main{
    display: flex;
    height: 70vh;
    flex-direction: column;
}
.font_common{
    font-family: "Roboto";
    font-weight: 400;
}
.font_light{
    font-family: "Roboto";
    font-weight: 300;
    color: gray;
}
.font_code{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 400;
    color: black;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
}
.sidemenu{
    left: 0px;
    border-bottom: solid 1px royalblue;
    display: flex;
}
.proto{
    margin-left: 20px;
    margin-bottom: 4px;
    padding: 7px;
    height: 35px;
    background-color: lightgray;
}
.return{
    color: dodgerblue;
}
.func_name{
    color: green;
}
.type{
    color: dodgerblue;
}
.pointer{
    color: firebrick;
}
.section{
    margin-left: 17px;

}
.menu_item{
    margin-left: 6px;
    padding-left: 4px;
    padding-right: 4px;
}
.menu_item_active{
    padding-top: 3px;
    color: whitesmoke;
    background-color: royalblue;

}
a{
    text-decoration: none;
    color: black;
}
p{
    margin-top: 2px;
}